<html>
  <title>
    N|Solid on Azure Demo
  </title>
	<body style="background: #444;color: #eee;">
		<div style="width: 100%; ">
      <center>
        <span style="font-size: 72px;">Hello from N|Solid running in Kubernetes on Azure!</span>
        <br />
        <img src="/bender.jpg" />
        <br /> 
        <span style="font-size: 32px;">Host: {{hostname}}</span>
      </center>
		</div>
	</body>
</html>